/* 
* @Author: Marte
* @Date:   2016-05-30 23:20:25
* @Last Modified by:   Marte
* @Last Modified time: 2016-06-01 09:06:40
*/
/*全局控制*/
body,html{width:100%;min-height:458px;}
body{margin:0;padding:0;list-style: none;padding-top:50px;font-size:65%;background-color:#f3f3f3;
    font-family: Microsoft YaHei;background-size: 100% 100%;padding-bottom:50px;}
/*重置默认样式*/
p,ul,ul li{margin:0;padding:0;list-style: none;}
a{text-decoration: none;}
input{outline: none;border:0;}
img{display:block;}
header{width:100%;height:50px;background-color:#7982E9;position:fixed;left:0;top:0;z-index: 9999;}
.head_center img {position:absolute;top:10px;left:50%;width:128px;margin-left:-64px;}
.head_right img{position:absolute;top:10px;right:10px;width:28px;display:block;transition: all 0.5s;}
.head_right img:hover{-webkit-transform:scale(0.5);
   -moz-transform:scale(0.5);
    -ms-transform:scale(0.5);
     -o-transform:scale(0.5);
        transform:scale(0.5);}
.banner img{width:100%;height:auto;}
section{overflow-x:hidden;overflow-y: auto;}
.content{width:100%;height: auto;}
.content ul{width:96%;height:100px;margin:0 auto;}
.content ul li{float:left;width:25%;text-align:center;padding-top:15px;}
.content ul li a{width:80px;height:80px;display:inline-block;border-radius:50%;text-align:center;line-height: 80px;font-size:1.5em;color:#000;}
.content ul li.li01 a{border: 1px solid #06F;}
.content ul li.li02 a{border: 1px solid #ffc000;}
.content ul li.li03 a{border: 1px solid #00baff;}
.content ul li.li04 a{border: 1px solid #c860fd;}

.content ul li.li01 a:hover{background:#06F;color:#fff;}
.content ul li.li02 a:hover{background: #ffc000;color:#fff;}
.content ul li.li03 a:hover{background:#00baff;color:#fff;}
.content ul li.li04 a:hover{background:#c860fd;color:#fff;}
.cont_bottom{width:100%;height:auto;background:#FFF;margin-top:20px;}
.cont_main{overflow:hidden;}
.cont_head{width:100%;text-align:center;height:30px;font-size:1.8em;padding-top:10px;color:#ff5000;
    border-bottom: 1px solid #e4e4e4;}
.cont_head .everday{background:url(../Images/iu.png) left center no-repeat;display:inline-block;padding-left:20px;}
.cont_head .more a{float:right;color:#afafaf;margin-right:10px;font-size:0.7em;cursor: pointer;}
.cont_cont{width:100%;}
.cont_cont ul{width:100%;margin:0 auto;}
.cont_cont ul li{width:48%;float:left;margin-left:1%;margin-right:1%;background: #FFF;text-align:center;margin-bottom: 20px;} 
.cont_cont ul li img{width:100%;height:auto;}
.cont_cont ul li .price{height:30px;line-height:30px;}
.cont_cont ul li .price span:nth-of-type(1){float:left;margin-left:10px;font-weight:bold;color:#ff5000;font-size:2.5em;}
.cont_cont ul li .price span:nth-of-type(2){float:right;margin-right:10px;font-size:1.5em;color:#CCC;}
/*footer*/
footer{width:100%;position:fixed;bottom:0;left:0;height:auto;background:#eeeeee;
    border-top:1px solid #dadadb;display:flex;}
footer nav{text-align:center;font-size:1.5em;cursor:pointer;padding-top:5px;padding-bottom:5px;}
footer .index{flex: 1;}
footer .search{flex: 1;}
footer .car{flex: 1;}
footer .userInfo{flex: 1;}
footer span{display:block;}
footer span:nth-of-type(1){height:25px;}
footer span{color:#808080;}
footer span.current{color:#7982e9;}
footer .btn1_current{background:url(../Images/footer01_hover.png) center top no-repeat;background-size: auto 20px;}
footer .btn1{background:url(../Images/footer01.png) center top no-repeat;background-size: auto 20px;}
footer .btn2{background:url(../Images/footer02.png) center top no-repeat;background-size: auto 20px;}
footer .btn2_current{background:url(../Images/footer02_hover.png) center top no-repeat;background-size: auto 20px;}
footer .btn3{background:url(../Images/footer04.png) center top no-repeat;background-size: auto 20px;}
footer .btn3_current{background:url(../Images/footer04_hover.png) center top no-repeat;background-size: auto 20px;}

footer .btn4{background:url(../Images/footer05.png) center top no-repeat;background-size: auto 20px;}
/*搜索*/
.hd_center{font-size:1.8em;color:#FFF;font-weight: bold;text-align:center;padding-top:10px;}
.hd_bottom{width:94%;height:33px;border: 2px solid #FFF;margin:0 auto;border-radius: 6px;margin-top:8px;}
.hd_bottom ul{width:100%;}
.hd_bottom ul li{width:50%;text-align:center;float:left;height:33px;line-height: 33px;font-size:14px;color:#FFF;cursor:pointer;}
.hd_bottom ul li.current{color:#7982E9;background:#FFF;}
.serch_cont{width:100%;height:50px;margin-top:40px;padding-top:10px;position:relative;}
.serch_cont .sear_main{width:300px;position:absolute;left:50%;margin-left:-150px;height:40px;}
.serch_cont .sear_main span:nth-of-type(1){width:36px;height:32px;border-radius:16px 0 0 16px;background:#FFF;display:inline-block;left:0;top:10px;position:absolute;}
.serch_cont .sear_main span:nth-of-type(1) img{margin-top:3px;margin-left:5px;}
.serch_cont .sear_main span:nth-of-type(2) input{position:absolute;left:36px;top:10px;height:32px;border-radius:0 16px 16px 0;width:210px;}
.serch_cont .sear_main span:nth-of-type(3){color:#7982e9;position:absolute;right:10px;top:20px;font-size:14px;} 
/*我的*/
.hdc{font-size:1.8em;color:#FFF;font-weight: bold;position:absolute;top:10px;left:50%;}
.head_left{position:absolute;top:13px;left:10px;}
.head_left img{width:25px;display:block;}
.form{width:100%;height:30px;border-bottom:1px solid #ddd;position:relative;margin-top:20px;font-size:1.5em;color:#313131;position:relative;}
.form span:nth-of-type(1){padding-left:4%;min-width:80px;display:inline-block;position:absolute;}
.form span:nth-of-type(2){padding-left:90%;position:absolute;}
.form span:nth-of-type(2) img{width:10px;}
