/* Public */

@charset "utf-8";

/* CSS Document */

html,
body,
div,
p,
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
select,
button,
textarea,
iframe,
table,
th,
td {
    margin: 0;
    padding: 0;
}

img {
    border: 0 none;
    vertical-align: top;
}

ul,
li,
dl,
dd,
dt {
    list-style-type: none;
}

i,
em,
cite {
    font-style: normal;
}

body {
    -webkit-text-size-adjust: none;
    /* 谷歌不支持0.16rem以下字号 */
    font-family: "微软雅黑";
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
    text-decoration: none;
}

.clear,
.cle {
    clear: both;
}

a,
area {
    blr: expression(this.onFocus=this.blur())
}


/*  去掉IE下链接虚线框 */

a:focus {
    outline: none;
}


/* 去掉火狐下链接虚线框 */

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}


/* end_Public */

.h_wrap {
    width: 100%;
    min-width: 4.266667rem;
    max-width: 750px;
    margin: 0 auto;
    position: relative;
    width: 100%;
    background: #190f31 url(../Images/bg.jpg) no-repeat bottom;
    background-size: cover;
}


/*logo*/

.h_logo {
    position: absolute;
    right: 0.8933333em;
    top: 0.8em;
    z-index: 100;
}

.h_logo img {
    width: 4.8533rem;
}


/*倒三角*/

.h_dsj {
    width: 0.3733333rem;
    height: 0.1733333rem;
    background: url(../Images/dsj.png) no-repeat;
    position: fixed;
    bottom: 3%;
    left: 50%;
    margin-left: -0.1866667rem;
    z-index: 100;
    background-size: 0.3733333rem 0.1733333rem;
    -webkit-animation: 2s ease 0s infinite running siteimg;
    animation: 2s ease 0s infinite sanJiao;
    opacity: 1;
    display: none;
}


/*内容区*/

.h_content {
    color: #fff;
    overflow: hidden;
}

.h_content>div {
    box-sizing: border-box;
}


/*邀请函*/

.h_yqh {
    text-align: center;
    position: relative;
    height: 100%;
    overflow: hidden;
}

.h_yqh_cx {
    width: 5.226666em;
    height: 4.48em;
    margin: 2.5em auto 0.4em;
}

.h_yqh_cx img {
    width: 5.226666em;
    height: 4.48em;
}

.h_yqh_line {
    height: 0.05333333em;
    width: 5.226666em;
    margin: 0em auto;
}

.h_yqh_line_2 {
    display: block;
    width: 5.226666em;
    height: 0.05333333em;
    background: url(../Images/line.png) no-repeat;
}

.h_yqh_detail {
    margin-top: 0.4em;
    margin-bottom: 0.5866666em;
}

.h_yqh_detail img {
    width: 2.8em;
    height: 0.6266em;
}

.h_yqh_line2 {
    width: 0.52em;
    height: 0.08em;
    margin: 0 auto;
    background: url(../Images/line2.png);
}

.h_yqh_tp {
    margin-top: 0.2666667em;
    margin-bottom: 0.4em;
}

.h_yqh_tp img {
    width: 2.866667em;
    height: 0.9733334em;
}

.h_yqh_box {
    position: relative;
    overflow: hidden;
    margin-top: 0.5066667em;
    margin-bottom: 0.2em;
}

.h_yqh_box p {
    font-size: 0.32em;
    margin-bottom: 0.05em;
}

.h_yqh_fl {
    width: 47%;
    float: left;
    text-align: right;
}

.h_yqh_fl img {
    width: 2.92em;
    height: 0.65333em;
    vertical-align: middle;
}

.h_yqh_fr {
    width: 47%;
    float: right;
    text-align: left;
}

.h_yqh_fr img {
    width: 2.34667em;
    height: 0.7066em;
    vertical-align: middle;
}

.h_yqh_yuan {
    width: 0.2933333em;
    height: 0.16em;
    background: url(../Images/yuan.png) no-repeat;
    position: absolute;
    left: 50%;
    margin-left: -0.1466667em;
    top: 50%;
    margin-top: -0.08em;
    background-size: 0.2933333em 0.16em;
}

.h_yqh_des img {
    width: 4.9733em;
    height: 0.6533em;
}


/*公司介绍*/

.h_js {
    position: relative;
    margin-top: 1rem;
}

.h_js_box {
    margin: 0 0.5333334rem 0;
    border: 1px solid rgba(0, 176, 255, 0.8);
    position: relative;
}

.h_js_nr {
    margin: 0.1333333rem;
    background: rgba(255, 255, 255, 0.08);
    padding: 1.133333rem 0.3333333rem;
    line-height: 0.5866666rem;
    font-size: 0.3733333rem;
}

.h_js_b1 {
    width: 0.5333334rem;
    height: 0.5333334rem;
    position: absolute;
    top: -0.2133333rem;
    left: -0.2133333rem;
    background: url(../Images/border_top.png) no-repeat;
    background-size: 0.5333334rem 0.5333334rem
}

.h_js_b2 {
    width: 0.5333334rem;
    height: 0.5333334rem;
    position: absolute;
    top: -0.2133333rem;
    right: -0.2133333rem;
    background: url(../Images/border_right.png) no-repeat;
    background-size: 0.5333334rem 0.5333334rem
}

.h_js_b3 {
    width: 0.5333334rem;
    height: 0.5333334rem;
    position: absolute;
    bottom: -0.2133333rem;
    right: -0.2133333rem;
    background: url(../Images/border_bottom.png) no-repeat;
    background-size: 0.5333334rem 0.5333334rem
}

.h_js_b4 {
    width: 0.5333334rem;
    height: 0.5333334rem;
    position: absolute;
    bottom: -0.2133333rem;
    left: -0.2133333rem;
    background: url(../Images/border_left.png) no-repeat;
    background-size: 0.5333334rem 0.5333334rem
}

.h_js_nr2 {
    margin: 1.266667rem auto;
    height: 0.1333333rem;
}

.h_js_nr2_line {
    width: 3.2rem;
    height: 1px;
    background: rgba(0, 228, 225, 0.4);
    float: left;
    margin-top: 0.06666667rem;
    margin-left: 0.4rem;
}

.h_js_nr2_yuan {
    width: 0.1333333rem;
    height: 0.1333333rem;
    background: url(../Images/lx.png);
    float: left;
    margin: 0 0.2666667rem;
    background-size: 0.1333333rem 0.1333333rem;
}

.h_js_nr2_line2 {
    width: 3.2rem;
    height: 1px;
    background: rgba(0, 228, 225, 0.4);
    float: left;
    margin-top: 0.06666667rem;
}


/*创新*/

.h_cx {
    margin-top: 2rem;
    position: relative;
    overflow: hidden;
}

.h_cx_box {
    padding: 0 0.5333334rem;
    overflow: hidden;
}

.h_cx_box_fl {
    float: left;
    width: 1.8rem;
    height: 10.48rem;
    position: relative;
}

.h_cx_box_fl img {
    width: 1.49333rem;
    height: 8.26667rem;
}

.h_cx_box_line {
    background-size: 1.493333rem 8.266666rem;
    position: absolute;
    left: 0.07rem;
    top: 0rem;
    width: 1.49333rem;
    height: 8.26667rem;
    margin-top: 1.25rem;
}

.h_cx_icon1 {
    width: 1.093333rem;
    height: 1.253333rem;
    background: url(../Images/icon1.png) no-repeat;
    background-size: 1.093333rem 1.253333rem;
}

.h_cx_icon2 {
    width: 1.093333rem;
    height: 1.253333rem;
    background: url(../Images/icon2.png) no-repeat;
    background-size: 1.093333rem 1.253333rem;
    margin-top: 1rem;
    margin-left: 0.96rem;
}

.h_cx_icon3 {
    width: 1.093333rem;
    height: 1.253333rem;
    background: url(../Images/icon3.png) no-repeat;
    background-size: 1.093333rem 1.253333rem;
    margin-top: 0.84rem;
    margin-left: 0.05333333rem;
}

.h_cx_icon4 {
    width: 1.093333rem;
    height: 1.253333rem;
    background: url(../Images/icon4.png) no-repeat;
    background-size: 1.093333rem 1.253333rem;
    margin-top: 0.76rem;
    margin-left: 0.4666667rem;
}

.h_cx_icon5 {
    width: 1.093333rem;
    height: 1.253333rem;
    background: url(../Images/icon5.png) no-repeat;
    background-size: 1.093333rem 1.253333rem;
    margin-top: 1.6rem;
    margin-left: 0.9333333rem;
}

.h_cx_box_fr {
    width: 6.533333rem;
    float: right;
    margin-top: 0.8rem;
}

.h_cx_cont p {
    line-height: 0.56rem;
    font-size: 0.3733333rem;
    color: #ffffff;
    margin-bottom: 0.24rem;
    letter-spacing: 0.03rem;
}


/*亮点*/

.h_ld {
    position: relative;
    overflow: hidden;
    margin-top: 2rem;
}

.h_ld_box {
    text-align: center;
    margin: 0 1.066667rem;
    /* display: none; */
}

.h_ld_title {
    text-align: center;
    margin-bottom: 0.9333333rem;
    height: 0.7333333rem;
}

.h_ld_title img {
    height: 0.7333333rem;
}

p.h_ld_zi {
    font-size: 0.4266667rem;
    color: #dddddd;
    line-height: 0.8rem;
    margin: 0.2266667rem 0.1333333rem 0.2rem;
    font-weight: bold;
}

p.h_ld_zi2 {
    color: #dddddd;
    font-size: 0.32rem;
    line-height: 0.5333334rem;
}

.h_ld_cbox1 {
    margin-bottom: 1.4rem;
}

.h_ld_cbox1 img {
    height: 0.72rem;
    display: block;
    margin: 0 auto;
}

.h_ld_cbox2 {
    margin-bottom: 1.4rem;
}

.h_ld_cbox2 img {
    height: 0.72rem;
    display: block;
    margin: 0 auto;
}

.h_ld_cbox3 {
    margin-bottom: 1.4rem;
}

.h_ld_cbox3 img {
    height: 0.8rem;
    display: block;
    margin: 0 auto;
}

.h_ld_cbox4 {
    margin-bottom: 1.4rem;
}

.h_ld_cbox4 img {
    height: 0.72rem;
    display: block;
    margin: 0 auto;
}

.h_ld_cbox5 {
    margin-bottom: 3.333333rem;
}

.h_ld_cbox5 img {
    height: 0.84rem;
    display: block;
    margin: 0 auto;
}


/*安排*/

.h_ap {
    position: relative;
    margin-top: 1rem;
    padding-bottom: 1.5rem;
}

.h_ap_title {
    text-align: center;
    height: 0.7333333rem;
    margin-bottom: 1rem;
}

.h_ap_title img {
    height: 0.7333333rem;
}

.h_ap_box {
    margin: 0 0.6666667rem;
    position: relative;
    overflow: hidden;
    border: 1px solid rgba(0, 176, 255, 0.8);
}

.h_ap_cbox {
    margin: 0.2rem;
}

.h_ap_cbox>ul>li {
    background: rgba(255, 255, 255, 0.08);
    margin-bottom: 0.1733333rem;
    overflow: hidden;
    padding: 0.1333333rem 0;
}

.h_ap_cbox ul li ul li {
    overflow: hidden;
    margin-bottom: 0.06666667rem;
}

.h_ap_cbox_l {
    width: 1.333333rem;
    float: left;
    text-align: center;
}

p.h_ap_cbox_zi {
    color: #ffffff;
    font-size: 0.3733333rem;
}

.h_ap_cbox_r_row {
    float: left;
    line-height: 0.6666667rem;
    width: 4.8rem;
}

.h_ap_cbox_r_row:first-child {
    width: 1.333333rem;
    text-align: center;
}

.h_ap_cbox_r {
    width: 6.666667rem;
    margin-left: 2rem;
}

.h_ap_cbox_l.h_ap_cbox_mt1 {
    margin-top: 0.92rem;
}

.h_ap_cbox_l.h_ap_cbox_mt2 {
    margin-top: 1.706667rem;
}

.h_ap_cbox_l.h_ap_cbox_mt3 {
    margin-top: 1.04rem;
}


/*议程*/

.h_yc {
    position: relative;
    margin-top: 2rem;
}

.h_yc_title {
    text-align: center;
    height: 0.7333333rem;
    margin-bottom: 0.5866666rem;
}

.h_yc_title img {
    height: 0.7333333rem;
}

.h_yc_box {
    margin: 0 0.5333334rem;
    border: 1px solid #00b0ff;
    position: relative;
}

.h_yc_cbox {
    margin: 0.12rem;
    background: rgba(255, 255, 255, 0.08);
    overflow: hidden;
}

.h_yc_cbox ul {
    margin: 0rem 0.1333333rem;
}

.h_yc_cbox ul li {
    background: rgba(0, 228, 255, 0.10);
    height: 1.533333rem;
    display: table;
    width: 100%;
    position: relative;
    padding-left: 0.1333333rem;
    margin-bottom: 0.1466667rem;
    box-sizing: border-box;
}

p.h_yc_li_zi {
    display: table-cell;
    vertical-align: middle;
    font-size: 0.32rem;
    width: 46%;
}

i.h_yc_lx {
    display: block;
    width: 0.1333333rem;
    height: 0.1333333rem;
    background: url(../Images/yc_lx.png) no-repeat;
    position: absolute;
    top: 50%;
    margin-top: -0.06666667rem;
    margin-left: -0.06666667rem;
    left: 50%;
    background-size: 0.1333333rem 0.1333333rem;
}

i.h_yc_lx2 {
    display: block;
    width: 0.1333333rem;
    height: 0.1333333rem;
    background: url(../Images/yc_lx2.png) no-repeat;
    position: absolute;
    top: 50%;
    margin-top: -0.06666667rem;
    margin-left: -0.06666667rem;
    left: 50%;
    background-size: 0.1333333rem 0.1333333rem;
}

.h_yc_cbox ul li.h_yc_li_top {
    height: 0.5866666rem;
    line-height: 0.5866666rem;
    background: none;
    padding-left: 0.1333333rem;
    margin-top: 0.4rem;
}

.h_yc_cbox ul li.h_yc_li_top .h_yc_li_zi {
    text-align: center;
    font-size: 0.3733333rem;
}

.h_yc_b1 {
    width: 0.5333334rem;
    height: 0.5333334rem;
    position: absolute;
    top: -0.2133333rem;
    left: -0.2133333rem;
    background: url(../Images/border_top.png) no-repeat;
    background-size: 0.5333334rem 0.5333334rem;
}

.h_yc_b2 {
    width: 0.5333334rem;
    height: 0.5333334rem;
    position: absolute;
    top: -0.2133333rem;
    right: -0.2133333rem;
    background: url(../Images/border_right.png) no-repeat;
    background-size: 0.5333334rem 0.5333334rem
}

.h_yc_b3 {
    width: 0.5333334rem;
    height: 0.5333334rem;
    position: absolute;
    bottom: -0.2133333rem;
    right: -0.2133333rem;
    background: url(../Images/border_bottom.png) no-repeat;
    background-size: 0.5333334rem 0.5333334rem
}

.h_yc_b4 {
    width: 0.5333334rem;
    height: 0.5333334rem;
    position: absolute;
    bottom: -0.2133333rem;
    left: -0.2133333rem;
    background: url(../Images/border_left.png) no-repeat;
    background-size: 0.5333334rem 0.5333334rem
}


/*技术分论坛*/

.h_jsf {
    position: relative;
    margin-top: 2rem;
}

.h_jsf_title {
    text-align: center;
    height: 0.7333333rem;
    margin-bottom: 0.5866666rem;
}

.h_jsf_title img {
    height: 0.7333333rem;
}

.h_jsf_box {
    margin: 0 0.5333334rem;
    border: 1px solid #00b0ff;
    position: relative;
}

.h_jsf_cbox {
    margin: 0.12rem;
    background: rgba(255, 255, 255, 0.08);
    overflow: hidden;
    display: none;
}

.h_jsf_cbox ul {
    margin: 0rem 0.1333333rem;
}

.h_jsf_cbox ul li {
    background: rgba(0, 228, 255, 0.10);
    height: 1.533333rem;
    display: table;
    width: 100%;
    position: relative;
    padding-left: 0.1333333rem;
    margin-bottom: 0.1466667rem;
    box-sizing: border-box;
}

p.h_jsf_li_zi {
    display: table-cell;
    vertical-align: middle;
    font-size: 0.32rem;
    width: 46%;
}

i.h_jsf_lx {
    display: block;
    width: 0.1333333rem;
    height: 0.1333333rem;
    background: url(../Images/yc_lx.png) no-repeat;
    position: absolute;
    top: 50%;
    margin-top: -0.06666667rem;
    margin-left: -0.06666667rem;
    left: 50%;
    background-size: 0.1333333rem 0.1333333rem;
}

i.h_jsf_lx2 {
    display: block;
    width: 0.1333333rem;
    height: 0.1333333rem;
    background: url(../Images/yc_lx2.png) no-repeat;
    position: absolute;
    top: 50%;
    margin-top: -0.06666667rem;
    margin-left: -0.06666667rem;
    left: 50%;
    background-size: 0.1333333rem 0.1333333rem;
}

.h_jsf_cbox ul li.h_jsf_li_top {
    height: 0.5866666rem;
    line-height: 0.5866666rem;
    background: none;
    padding-left: 0.1333333rem;
    margin-top: 0.3066667rem;
}

.h_jsf_cbox ul li.h_jsf_li_top .h_jsf_li_zi {
    text-align: center;
    font-size: 0.3733333rem;
}

.h_jsf_b1 {
    width: 0.5333334rem;
    height: 0.5333334rem;
    position: absolute;
    top: -0.2133333rem;
    left: -0.2133333rem;
    background: url(../Images/border_top.png) no-repeat;
    background-size: 0.5333334rem 0.5333334rem
}

.h_jsf_b2 {
    width: 0.5333334rem;
    height: 0.5333334rem;
    position: absolute;
    top: -0.2133333rem;
    right: -0.2133333rem;
    background: url(../Images/border_right.png) no-repeat;
    background-size: 0.5333334rem 0.5333334rem
}

.h_jsf_b3 {
    width: 0.5333334rem;
    height: 0.5333334rem;
    position: absolute;
    bottom: -0.2133333rem;
    right: -0.2133333rem;
    background: url(../Images/border_bottom.png) no-repeat;
    background-size: 0.5333334rem 0.5333334rem
}

.h_jsf_b4 {
    width: 0.5333334rem;
    height: 0.5333334rem;
    position: absolute;
    bottom: -0.2133333rem;
    left: -0.2133333rem;
    background: url(../Images/border_left.png) no-repeat;
    background-size: 0.5333334rem 0.5333334rem
}

.h_jsf_tit {
    position: relative;
    overflow: hidden;
    margin: 0 0.6933333rem 0.6rem;
}

.h_jsf_tit ul li {
    float: left;
    height: 0.8533334rem;
    line-height: 0.8533334rem;
    text-align: center;
    background: linear-gradient(to right, #1b3474, #1b3a8a);
    border-radius: 0.4666667rem;
    font-size: 0.32rem;
    cursor: pointer;
    outline: none;
    padding: 0 0.28rem;
    margin-right: 0.44rem;
    margin-bottom: 0.2133333rem;
}

.h_jsf_tit ul li.h_jsf_tit_li {
    width: 5rem;
    padding: 0px;
}

.h_jsf_tit ul li.curr {
    background: linear-gradient(to right, #2d53b4, #4b6cc4);
}


/*行业分论坛*/

.h_hyf {
    position: relative;
    margin-top: 2rem;
    padding-bottom: 1.5rem
}

.h_hyf_title {
    text-align: center;
    height: 0.7333333rem;
    margin-bottom: 1rem;
}

.h_hyf_title img {
    height: 0.7333333rem;
}

.h_hyf_box {
    margin: 0 0.5333334rem;
    border: 1px solid #00b0ff;
    position: relative;
}

.h_hyf_cbox {
    margin: 0.12rem;
    background: rgba(255, 255, 255, 0.08);
    overflow: hidden;
    display: none;
}

.h_hyf_cbox ul {
    margin: 0rem 0.1333333rem;
}

.h_hyf_cbox ul li {
    background: rgba(0, 228, 255, 0.10);
    height: 1.533333rem;
    display: table;
    width: 100%;
    position: relative;
    padding-left: 0.1333333rem;
    margin-bottom: 0.1466667rem;
    box-sizing: border-box;
}

p.h_hyf_li_zi {
    display: table-cell;
    vertical-align: middle;
    font-size: 0.32rem;
    width: 46%;
}

i.h_hyf_lx {
    display: block;
    width: 0.1333333rem;
    height: 0.1333333rem;
    background: url(../Images/yc_lx.png) no-repeat;
    position: absolute;
    top: 50%;
    margin-top: -0.06666667rem;
    margin-left: -0.06666667rem;
    left: 50%;
    background-size: 0.1333333rem 0.1333333rem;
}

i.h_hyf_lx2 {
    display: block;
    width: 0.1333333rem;
    height: 0.1333333rem;
    background: url(../Images/yc_lx2.png) no-repeat;
    position: absolute;
    top: 50%;
    margin-top: -0.06666667rem;
    margin-left: -0.06666667rem;
    left: 50%;
    background-size: 0.1333333rem 0.1333333rem;
}

.h_hyf_cbox ul li.h_hyf_li_top {
    height: 0.5866666rem;
    line-height: 0.5866666rem;
    background: none;
    padding-left: 0.1333333rem;
    margin-top: 0.3066667rem;
}

.h_hyf_cbox ul li.h_hyf_li_top .h_hyf_li_zi {
    text-align: center;
    font-size: 0.3733333rem;
}

.h_hyf_b1 {
    width: 0.5333334rem;
    height: 0.5333334rem;
    position: absolute;
    top: -0.2133333rem;
    left: -0.2133333rem;
    background: url(../Images/border_top.png) no-repeat;
    background-size: 0.5333334rem 0.5333334rem
}

.h_hyf_b2 {
    width: 0.5333334rem;
    height: 0.5333334rem;
    position: absolute;
    top: -0.2133333rem;
    right: -0.2133333rem;
    background: url(../Images/border_right.png) no-repeat;
    background-size: 0.5333334rem 0.5333334rem
}

.h_hyf_b3 {
    width: 0.5333334rem;
    height: 0.5333334rem;
    position: absolute;
    bottom: -0.2133333rem;
    right: -0.2133333rem;
    background: url(../Images/border_bottom.png) no-repeat;
    background-size: 0.5333334rem 0.5333334rem
}

.h_hyf_b4 {
    width: 0.5333334rem;
    height: 0.5333334rem;
    position: absolute;
    bottom: -0.2133333rem;
    left: -0.2133333rem;
    background: url(../Images/border_left.png) no-repeat;
    background-size: 0.5333334rem 0.5333334rem
}

.h_hyf_tit {
    position: relative;
    overflow: hidden;
    margin: 0 0.6933333rem 0.6rem;
}

.h_hyf_tit ul li {
    float: left;
    width: 2.0rem;
    height: 0.8533334rem;
    line-height: 0.8533334rem;
    text-align: center;
    background: linear-gradient(to right, #1b3474, #1b3a8a);
    border-radius: 0.4666667rem;
    font-size: 0.32rem;
    margin-right: 0.44rem;
    margin-bottom: 0.2133333rem;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    padding: 0 0.28rem;
}

.h_hyf_tit ul li:nth-child(3n) {
    margin-right: 0rem;
}

.h_hyf_tit ul li:nth-child(4) {
    width: 3rem;
}

.h_hyf_tit ul li.h_hyf_tit_li {
    width: 3.693333rem;
}

.h_hyf_tit ul li.curr {
    background: linear-gradient(to right, #2d53b4, #4b6cc4);
}


/*报名*/

.h_bm {
    position: relative;
    margin-top: 2rem;
    text-align: center;
    padding-bottom: 1.5rem;
}

.h_bm_logo {
    height: 1.68rem;
    margin-bottom: 0.5333334rem;
}

.h_bm_logo img {
    height: 1.68rem;
}

p.h_bm_wz1 {
    font-size: 0.48rem;
    color: #ffffff;
    letter-spacing: 0.2666667rem;
    line-height: 0.6666667rem;
}

p.h_bm_wz2 {
    font-size: 0.32rem;
    color: #ffffff;
    line-height: 0.5333334rem;
}

.h_bm_wz {
    margin-bottom: 2.0rem;
}

.h_bm_bt a {
    display: block;
    width: 6.4rem;
    height: 1.226667rem;
    text-align: center;
    margin: 0 auto 0.4266667rem;
    background: url(../Images/bt.png) no-repeat;
    font-size: 0.4266667rem;
    color: #ffffff;
    line-height: 1.226667rem;
    background-size: 6.4rem 1.226667rem;
}

.h_bm_more a {
    line-height: 0.5333334rem;
    color: #dadada;
    font-size: 0.32rem;
    border-bottom: 1px solid #dadada;
    padding-bottom: 0.1733333rem;
}

.h_bm_more {
    line-height: 0.5333334rem;
    padding-bottom: 0.1733333rem;
}


/*效果*/


/*1*/

.h_ani1 {
    width: 6.88em;
    height: 4.946em;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: ani1 2s ease;
    animation: ani1 2s ease 0s;
}

.h_ani1 img {
    width: 6.88em;
    height: 4.946em;
}


/*2*/

.h_ani2 {
    width: 2.266667rem;
    height: 8.36rem;
    position: absolute;
    top: -0.6666667rem;
    right: 0;
    background: url(../Images/t2.png) no-repeat;
    background-size: 2.266667rem 8.36rem;
}

.h_ani3 {
    width: 1.333333rem;
    height: 1.653333rem;
    position: absolute;
    bottom: 1.333333rem;
    left: 0rem;
    background: url(../Images/t4.png) no-repeat;
    background-size: 1.333333rem 1.653333rem;
}

.h_ani4 {
    width: 1.44rem;
    height: 2.306667rem;
    position: absolute;
    bottom: 0rem;
    right: 0rem;
    background: url(../Images/t3.png) no-repeat;
    background-size: 1.44rem 2.306667rem;
}


/*3*/

.h_ani5 {
    width: 2.866667rem;
    height: 7.026667rem;
    position: absolute;
    top: 0rem;
    right: 0rem;
    background: url(../Images/t5.png) no-repeat;
    background-size: 2.866667rem 7.026667rem;
}

.h_beijing {
    position: absolute;
    width: 6.266667rem;
    top: 6rem;
    left: 50%;
    margin-left: -3.133333rem;
}

.h_beijing2 {
    position: absolute;
    width: 6.266667rem;
    bottom: 2.4rem;
    left: 50%;
    margin-left: -3.133333rem;
}

.h_beijing_q1 {
    width: 6.266667rem;
    height: 6.253334rem;
    background: url(../Images/q1.png) no-repeat;
    background-size: 6.266667rem 6.253334rem;
    position: absolute;
    animation: rotate360 15s linear infinite;
}

.h_beijing_q2 {
    width: 5.706666rem;
    height: 5.693333rem;
    background: url(../Images/q2.png) no-repeat;
    background-size: 5.706666rem 5.693333rem;
    animation: rotate360 15s linear infinite;
}

.h_ani6 {
    width: 3.08rem;
    height: 6.666667rem;
    position: absolute;
    top: 15.33333rem;
    left: 0rem;
    background: url(../Images/t6.png) no-repeat;
    background-size: 3.08rem 6.666667rem;
}

.h_ani7 {
    width: 2.28rem;
    height: 4.4rem;
    position: absolute;
    bottom: 0rem;
    right: 0rem;
    background: url(../Images/t7.png) no-repeat;
    background-size: 2.28rem 4.4rem;
}


/*4*/

.h_ani8 {
    width: 2.666667rem;
    height: 2.373333rem;
    position: absolute;
    left: 0rem;
    top: 0rem;
    background: url(../Images/t8.png) no-repeat;
    background-size: 2.666667rem 2.373333rem;
}

.h_ap_qiu {
    position: absolute;
    right: -0.1333333rem;
    bottom: -2rem;
}

.h_beijing_qiu3 {
    width: 3.4rem;
    height: 3.946667rem;
    background: url(../Images/q3.png) no-repeat;
    background-size: 3.4rem 3.946667rem;
    animation: rotate360 15s linear infinite;
}

.h_ap_bg {
    width: 3.773333rem;
    height: 2.146667rem;
    background: url(../Images/t9.png) no-repeat;
    background-size: 3.773333rem 2.146667rem;
    position: absolute;
    right: 0rem;
    bottom: -0.3466667rem;
}


/*5*/

.h_ani9 {
    width: 3.04rem;
    height: 7.48rem;
    position: absolute;
    left: 0rem;
    top: 4.666667rem;
    background: url(../Images/t10.png) no-repeat;
    background-size: 3.04rem 7.48rem;
}

.h_ani10 {
    width: 2.2rem;
    height: 3.066667rem;
    position: absolute;
    right: 0rem;
    top: 4.266667rem;
    background: url(../Images/t11.png) no-repeat;
    background-size: 2.2rem 3.066667rem;
}


/*6*/

.h_ani11 {
    width: 2.2rem;
    height: 3.066667rem;
    position: absolute;
    right: 0.2666667rem;
    top: 4.266667rem;
    background: url(../Images/t11.png) no-repeat;
    background-size: 6.266667rem 6.253334rem;
}

.h_js_qiu {
    position: absolute;
    left: -0.8666667rem;
    bottom: 0.6666667rem;
}

.h_beijing_qiu4 {
    width: 3.96rem;
    height: 3.946667rem;
    background: url(../Images/q4.png) no-repeat;
    animation: rotate360 15s linear infinite;
    background-size: 3.96rem 3.946667rem;
}

.h_js_bg {
    width: 4.413333rem;
    height: 2.16rem;
    background: url(../Images/t12.png) no-repeat;
    position: absolute;
    right: 0rem;
    bottom: -0.2666667rem;
    background-size: 6.266667rem 6.253334rem;
}

.next {
    width: 0.36rem;
    height: 0.213rem;
    background: url(../Images/next.png) no-repeat;
    margin: 0 auto;
    background-size: 0.36rem 0.213rem;
    -webkit-animation: 2s ease 0s infinite running siteimg;
    animation: 2s ease 0s infinite sanJiao;
    opacity: 1;
    margin-top: 0.6667rem;
    position: absolute;
    bottom: 0.5rem;
    left: 50%;
    margin-left: -0.18rem;
    display: none;
}

.revealOnScroll {
    opacity: 0;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite
}

.animated.hinge {
    -webkit-animation-duration: 2s;
    animation-duration: 2s
}

@keyframes rotate360 {
    from {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
        -moz-transform: rotate(-360deg);
        -o-transform: rotate(-360deg);
        -ms-transform: rotate(-360deg);
    }
}

@-webkit-keyframes bounceInUpMin {
    0% {
        opacity: 0;
        -webkit-transform: translateY(0.6666667rem)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0)
    }
}

@-moz-keyframes bounceInUpMin {
    0% {
        opacity: 0;
        -moz-transform: translateY(0.6666667rem)
    }
    100% {
        opacity: 1;
        -moz-transform: translateY(0)
    }
}

.bounceInUpMin {
    -webkit-animation-name: bounceInUpMin;
    animation-name: bounceInUpMin;
}

@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-1.066667rem)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0)
    }
}

@-moz-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -moz-transform: translateX(-1.066667rem)
    }
    100% {
        opacity: 1;
        -moz-transform: translateX(0)
    }
}

.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

@-webkit-keyframes bounceInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(13.33333rem)
    }
    60% {
        opacity: 1;
        -webkit-transform: translateY(-0.1333333rem)
    }
    80% {
        -webkit-transform: translateY(0.06666667rem)
    }
    100% {
        opacity: 1;
        opacity: 1;
        -webkit-transform: translateY(0)
    }
}

@-moz-keyframes bounceInUp {
    0% {
        opacity: 0;
        -moz-transform: translateY(13.33333rem)
    }
    60% {
        opacity: 1;
        -moz-transform: translateY(-0.1333333rem)
    }
    80% {
        -moz-transform: translateY(0.06666667rem)
    }
    100% {
        opacity: 1;
        -moz-transform: translateY(0)
    }
}

.bounceInUp {
    -webkit-animation-name: bounceInUp;
    animation-name: bounceInUp;
}

@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(1.066667rem)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0)
    }
}

@-moz-keyframes fadeInRight {
    0% {
        opacity: 0;
        -moz-transform: translateX(1.066667rem)
    }
    100% {
        opacity: 1;
        -moz-transform: translateX(0)
    }
}

.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}

@-webkit-keyframes width {
    0% {
        width: 0rem;
        opacity: 0;
    }
    100% {
        width: 100%;
        opacity: 1;
    }
}

@-moz-keyframes width {
    0% {
        width: 0rem;
    }
    100% {
        width: 100%
    }
}

.width {
    -webkit-animation-name: width;
    animation-name: width;
}

@-webkit-keyframes borderTop {
    0% {
        left: -0.4266667rem;
        top: -0.4266667rem;
        opacity: 0;
    }
    100% {
        left: -0.2133333rem;
        top: -0.2133333rem;
        opacity: 1;
    }
}

.borderTop {
    -webkit-animation-name: borderTop;
    animation-name: borderTop;
}

@-webkit-keyframes borderRight {
    0% {
        right: -0.4266667rem;
        top: -0.4266667rem;
        opacity: 0;
    }
    100% {
        right: -0.2133333rem;
        top: -0.2133333rem;
        opacity: 1;
    }
}

.borderRight {
    -webkit-animation-name: borderRight;
    animation-name: borderRight;
}

@-webkit-keyframes borderBottom {
    0% {
        right: -0.4266667rem;
        bottom: -0.4266667rem;
        opacity: 0;
    }
    100% {
        right: -0.2133333rem;
        bottom: -0.2133333rem;
        opacity: 1;
    }
}

.borderBottom {
    -webkit-animation-name: borderBottom;
    animation-name: borderBottom;
}

@-webkit-keyframes borderLeft {
    0% {
        left: -0.4266667rem;
        bottom: -0.4266667rem;
        opacity: 0;
    }
    100% {
        left: -0.2133333rem;
        bottom: -0.2133333rem;
        opacity: 1;
    }
}

.borderLeft {
    -webkit-animation-name: borderLeft;
    animation-name: borderLeft;
}

@-webkit-keyframes sanJiao {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    50% {
        opacity: 1;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fadeInTop {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.fadeInTop {
    -webkit-animation-name: fadeInTop;
    animation-name: fadeInTop;
}

@-webkit-keyframes fadeInTopBig {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-200%);
        transform: translateY(-200%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-webkit-keyframes ani1 {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    50% {
        opacity: 1;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@-webkit-keyframes ani2 {
    0% {
        opacity: 0;
        transform: translateY(0);
    }
    50% {
        opacity: 1;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes bounceIn {
    0%,
    20%,
    40%,
    60%,
    80%,
    to {
        transition-timing-function: cubic-bezier(.215, .61, .355, 1)
    }
    0% {
        opacity: 0;
        transform: scale3d(.3, .3, .3)
    }
    20% {
        transform: scale3d(1.1, 1.1, 1.1)
    }
    40% {
        transform: scale3d(.9, .9, .9)
    }
    60% {
        opacity: 1;
        transform: scale3d(1.03, 1.03, 1.03)
    }
    80% {
        transform: scale3d(.97, .97, .97)
    }
    to {
        opacity: 1;
        transform: scaleX(1)
    }
}

.bounceIn {
    animation-name: bounceIn
}

@keyframes bounceInDown {
    0%,
    60%,
    75%,
    90%,
    to {
        transition-timing-function: cubic-bezier(.215, .61, .355, 1)
    }
    0% {
        opacity: 1;
        transform: translate3d(0, -150rem, 0)
    }
    60% {
        opacity: 1;
        transform: translate3d(0, 1.25rem, 0)
    }
    75% {
        opacity: 1;
        transform: translate3d(0, -.5rem, 0)
    }
    90% {
        opacity: 1;
        transform: translate3d(0, .25rem, 0)
    }
    to {
        opacity: 1;
        transform: none
    }
}

.bounceInDown {
    animation-name: bounceInDown
}