@charset "utf-8";
/* CSS Document */
	
	/*全局控制*/
	html{background:#F6F6F6;}
	body{margin:0;padding:0;font-family:"宋体";font-size:12px;background:#F6F6F6;}
	/*重置默认样式*/
	p,ul,li{margin:0;padding:0;list-style:none;}
	input{border:none;}
	a:link,a:visited{text-decoration:none;}
	/*我的审批*/
	/*#header*/
	#header{width:100%;height:70px;background:#000;}
	.headNav{width:1348px;height:55px;margin:0 auto;padding-top:15px;}
	.headNavL{width:880px;float:left;height:55px;}
	.headNavR{width:400px;float:left;height:55px;text-align:center;}
	.headNavR span{color:#FFF;}
	/*cont*/
	#content{width:1348px;height:800px;overflow:hidden;margin:0 auto;}
	/*contentL*/
	.contL{width:280px;height:100px;background:#03F;float:left;}
	/****左侧导航****/
	.accordion{width:280px; height:auto !important;border:1px solid #e5e5e5;}
	.accordion li{width:280px;border-bottom:#e5e5e5 1px solid; cursor:pointer;}
	.accordion li .pannel{width:280px; height:58px;}
	.accordion li .left1{width:68px; height:58px; float:left; background-color:#f6f6f6 ; background-image:url(../images/default/bgicon.png);}
	.accordion li .left1.pos1{background-position:0 -174px;}
	.accordion li .left1.pos2{background-position:0 -117px;}
	.accordion li .left1.pos3{background-position:0 -50px;}
	.accordion li .left1.current a{background:#5abcc5;}
	/*云管理员菜单样式一级*/
	.accordion li .left1.current{background-color:#5abcc5;background-image:url(../images/default/bgicon_current.png)}
	.accordion li .left2{width:212px; height:58px; float:left; background:#fff;  cursor:pointer; line-height:68px; }
	.accordion li .left2 a{ color:#666; font-size:14px; display:block; line-height:58px; background:#fff;padding-left:40px;background:url(../images/default/sub2.jpg) no-repeat center right; background-position:190px 26px;text-decoration:none;}
	.accordion li .left2.current a{ display:block; color:#fff;background:#5fc6cf url(../images/default/sub1.png) no-repeat center right; background-position:190px 28px;text-deocration:none;}
	
/*	.accordion{width:280px; height:auto !important;border:1px solid #ccc;}
	.accordion li{width:280px;border-bottom:#e5e5e5 1px solid; cursor:pointer;}
	.accordion li .left1{width:68px; height:58px; float:left;}
	.accordion li .left1.pos1{background-image:url(../images/default/bgicon.png);}
	.accordion li .left1.pos1{background-position:0 -174px;}
	.accordion li .left1 img{ vertical-align:middle; padding:15px 19px; text-align:center;}
	.accordion li .left1.pos1:hover{ background-color:#5abcc5;background-image:url(../images/default/bgicon_current.png);}
	.accordion li .left1.current{background-color:#5abcc5;background-image:url(../images/default/bgicon_current.png);}
	.accordion li .left2.current a{  font-size:14px; display:block; line-height:58px; background:#fff;padding-left:40px; text-align:center;background-color:#5abcc5; }
	.accordion li .left1{width:68px; height:58px; float:left; }
	.accordion li .left1.pos2{background:url(../images/default/bgicon.png);}
	.accordion li .left1.pos2{background-position:0 -117px;}
	.accordion li .left1 img{ vertical-align:middle; padding:15px 19px; text-align:center;}
	.accordion li .left1.pos2:hover{ background-color:#5abcc5;background-image:url(../images/default/bgicon_current.png);}
	.accordion li .left1.current{background-color:#5abcc5;background-image:url(../images/default/bgicon_current.png);}
	.accordion li .left2 a{  font-size:14px; display:block; line-height:58px; background:#fff;padding-left:40px; text-align:center; color:#999;}
	.accordion li .left1.current{background-color:#5abcc5;background-image:url(../images/default/bgicon_current.png);}
	.accordion li .left2 a:hover{ display:block; color:#fff;background:#5fc6cf;}
	.accordion li .left2.current a{ display:block; color:#fff;background:#5fc6cf;font-family:"宋体"}
	.accordion li .left1.pos3{background-image:url(../images/default/bgicon.png);}
	.accordion li .left1.pos3{background-position:0 -50px;}
	.accordion li .left1.pos3:hover{ background-color:#5abcc5;background-image:url(../images/default/bgicon_current.png);}
	.accordion li .left1.current{background-color:#5abcc5;background-image:url(../images/default/bgicon_current.png);}
    .accordion li .left2.mhovr a{ display:block; color:#fff;background:#5fc6cf url(../images/default/sub1.png) no-repeat center right; background-position:190px 28px;}
	.accordion li .left1.current,.accordion li .left1.mhovr{background-image:url(../images/default/bgicon_current.png)}
*/
	/*操作日志列表*/
	
	/*.contR*/
	.contR{width:1050px;height:600px;float:right;}
	.contR1{width:1040px;height:40px;padding-top:10px;}
	.contR1 span{margin-left:10px;display:inline-block;cursor:pointer;}
    .contR2{width:1050px;height:45px;background:#fff;padding-left:10px;cursor:pointer;padding-top:20px;margin-bottom:20px;}
    .contR3{width:1050;height:380px;}
	/*VdI审批*/
	/*我的ＶＤＩ未审批*/
	.contR .cp1{width:800px;height:100px;border:1px solid #ccc;margin-bottom:20px;}
	.contR .cp1 dt{width:300px;height:95px;float:left;margin-top:5px;}
	.contR .cp1 dd{width:300px;height:100px;float:right;}
	.contR .cp2{width:800px;height:100px;border:1px solid #ccc;margin-bottom:20px;}
	.contR .cp2 dt{width:300px;height:90px;float:left;margin-top:10px;}
	.contR .cp2 dd{width:300px;height:100px;float:right;}

	.contR .cp3{width:100px;height:40px;background:#5FC6CF;display:inline-block;text-align:center;line-height:40px;cursor:pointer;border:1px solid #ccc;color:#FFF;margin-top:30px;margin-left:100px;}
	.tanc_down{ width:100%; height:100%; background:#000; position:fixed; left:0; top:0; z-index:100; display:none;}
	.tanc_up{ width:674px; height:429px; background:#Fff; position:fixed; left:50%; top:50%;z-index:101; font-family:"微软雅黑"; margin-top:-207px; margin-left:-237px;display:none;}
	.tanc_up .tanc_up_close{ position:absolute; width:45px; height:45px;cursor:pointer; right:-25px; top:-25px;}
	.tanc_up_tit{ font-size:24px; color:#333333; width:576px; height:50px; border-bottom:1px solid #e2e2e2; background:url(../images/bd_icon_01.png) no-repeat 2px 13px; padding-left:30px; margin-left:20px; margin:10px 0 44px 34px; line-height:50px;}
	.tanc_up_in{ overflow:hidden; margin:15px 0 0 102px;}
	.tanc_up_in i{ float:left; font-size:14px; font-style:normal; line-height:38px; margin-right:22px;}
	.tanc_up_in input{ float:left; width:256px; height:36px; list-style:none; border:1px solid #e2e2e2; margin-right:8px; line-height:36px; padding-left:4px;}
	.tanc_up_in span{ float:left;  height:38px; line-height:38px; width:149px;}
	.tanc_up_in span input{ width:20px;}
	.tanc_up_but a{ background:#00aeff; width:262px; height:48px; line-height:48px; text-align:center; color:#FFF; text-decoration:none; font-size:18px; display:block; margin:42px 0 0 217px}
	.tanc_up_in span a:hover{ background:#ce5810}
	.tanc_up_but a:hover{ background:#129dde}
	.tanc_up .tc_last{ font-weight:normal; text-align:center; display:block; background:url(../images/ct_la.png) no-repeat left center; padding-left:5px; color:#eb0303; font-size:12px; width:272px; margin:20px 0 0 217px;}
     .motai{width:300px;height:100px;}
	 .motai .queding{width:100px;height:40px;margin-top:30px;text-align:center;line-height:40px;margin-left:10px;background:#00AEFF;color:#FFF;cursor:pointer;}
	 .motai .quxiao{width:100px;height:40px;margin-top:30px;text-align:center;line-height:40px;margin-left:87px;background:#00AEFF;color:#FFF;cursor:pointer;}
	 /*我的ＶＤＩ已审批*/
	 .contR .contRl{height:40px;width:400px;float:left;}
	 .contR .contRr{height:40px;width:400px;float:right;}
     .contR .contRc{width:1050px;height:100px;background:#990l;}
	 .contR .icon{width:1030px;height:210px;padding-left:20px;padding-top:30px;}
	 .contR  .icon ul li{float:left;margin-left:134px;}
	 .contR .icon1{width:997px;height:40px;font-size:14px;border:1px solid #ccc;padding-top:10px;padding-left:3px;}
	 .contR .proess{width:990px;height:200px;border:1px solid #CCC;font-size:16px;padding-left:10px;}
	 .contR .proess b{font-size:18px;}
	 .contR .proess .press1{width:330px;height:150px;float:left;border-right:1px solid #CCC;padding-top:50px;}
	 .contR .proess .press1 dt{width:120px;height:150px;float:left}
	 .contR .proess .press1 dd{width:150px;height:150px;float:right;}
	 .contR .proess .press2{width:330px;height:150px;float:left;border-right:1px solid #CCC;margin-left:20px;padding-top:50px;}
	 .contR .proess .press2 dt{width:120px;height:150px;float:left}
	 .contR .proess .press2 dd{width:150px;height:150px;float:right;}
	 .contR .proess .press3{width:250px;height:150px;margin-left:20px;float:left;padding-top:50px;}
	 .contR .proess .press3 dt{width:120px;height:150px;float:left}
	 .contR .proess .press3 dd{width:100px;height:150px;float:right;}
     .contR b{font-size:16px;}
	 /*操作日志列表*/
	.tanc_up_tit1{ font-size:24px; color:#333333; width:576px; height:50px; border-bottom:1px solid #e2e2e2; background:url(../images/bd_icon_01.png) no-repeat 2px 13px; padding-left:30px; margin-left:20px; margin:10px 0 18px 34px; line-height:50px;}
	.tanc_up .dot{width:400px;height:2px;background:url(../images/dot.png) repeat-x;display:inline-block;} 
	.tanc_up .con{width:600px;height:300px;margin:0  auto;}
	.tanc_up .con .name{width:600px;height:25px;line-height:2px;}
	.tanc_up .con .name1{width:600px;height:25px;line-height:2px;margin-top:10px;}
	.tanc_up .con .txt{width:600px;height:80px;line-height:24px;}
	.tanc_up .con .txt2{width:500px;height:140px;padding-left:100px;}
	.tanc_up .con .txt2 span{width:80px;height:30px;background:#00AEFF;display:inline-block;margin-left:20px;text-align:center;
	margin-left:85px;line-height:30px;color:#FFF;}
	.contR .shenpi{cursor:pointer;}