@charset "utf-8";
/* CSS Document */

/******全局控制**********/
	body{margin:0;padding:0;list-style:none;font-size:12px;font-family:"微软雅黑";color:#737373;}
/******清除默认样式**********/
	p,ul li,a:hover,a:link,a:visited,ul,dl,dd,dt,h1,h2,h3,h4,h5,h6,.Scheme .school .schoolF .introduce dd,a,ul,h3,ol,ol li{margin:0;padding:0;list-style:none;border:0;}
/******设置公共样式**********/
	input{outline:none;}
	button{0}
	a:link,a:hover{text-decoration:none;}
	a:visited{text-decoration:none;}
 /******首页**********/
  /******HeadTAll**********/	
  .HeadAll{width:100%; height:28px;background:#0F508A;overflow:hidden;position:fixed;top:0;z-index:4000;}
  .HeaderAll{width:100%;height:50px;background:#3091f2;position:fixed;top:28px;z-index:4001;}
  .teshu{width:1000px;height:230px;margin:0 auto;font-size:16px;color:#FFF;padding-top:130px;}
  .teshu li{background:#FFF;width:150PX;HEIGHT:150PX;border-radius:50%;float:left;margin-left:82px;text-align:center;line-height:150px;transition:all 1s;cursor:pointer;}
  .teshu li:hover{transform:scale(1.5,1.5);
  -moz-transform:scale(1.5,1.5);
  -webkit-transform:scale(1.5,1.5);-ms-transform:scale(1.5,1.5);
  -o-transform:scale(1.5,1.5);-webkit-transform:scale(1.5,1.5)}
  .teshu .guanyu:hover{background:#d69003;}
  .teshu .fangan:hover{background:#0084ff;}
  .teshu .chanin:hover{background:#ff3600;}
  .teshu .rencai:hover{background:#5555fc;}
  .teshu a{color:#FFF;}
  .teshu .guanyu{background:#FC6;}
  .teshu .fangan{background:#0CF;}
  .teshu .chanin{background:#F60;}
  .teshu .rencai{background:#99F;}
  .root{width:100%;height:300px;font-size:12px;}

   /******HeadTop**********/
	.section { text-align: center; font: 50px "Microsoft Yahei"; color: #fff; background-size: cover;}
	#section1 { background:url(../images/bg4.jpg) 50% no-repeat;
   background-size: cover;}
	#section2 { background:url(../images/bg1.jpg) 50% no-repeat;
    background-size: cover;}
	#section3 { background:url(../images/bg2.jpg) 50% no-repeat;
    background-size: cover;}
	#section4 { background:url(../images/bg3.jpg) 50% no-repeat;
    background-size: cover;}

 /******HeadTop**********/
   .HeadTOP{width:100%; height:28px;background:#0F508A;overflow:hidden;}
   .Htop{max-width:1200px;min-width:1000px;margin-left:auto;margin-right:auto;height:14px;padding:5px 0;color:#FFF;}
   .HtopL{width:24%;float:left;}
   .HtopR{width:76%;float:right;}
   .HtopR span{float:right;}  
   .HtopR span a:link,.HtopR span a:hover{color:#FFF;text-decoration:none;}
   .HtopR span a:visited{text-decoration:none;color:#FFF;}
   .Header{width:100%;height:50px;background:#3091f2;}
   .Head{max-width:1200px;min-width:1000px;margin-left:auto;margin-right:auto;height:50px;margin:0 auto;}
   .HeadL{width:300px;margin:0 auto;float:left;height:38px;padding-top:10px;}
   
   .HeadR{width:auto;height:50px;margin:0 auto;float:right;}
   .HeadR .all{width:auto;padding-left:10px;height:50px;}
   .HeadR .all li{float:left;width:108px;text-align:center;height:50px;line-height:50px;color:#FFF;font-size:14px;cursor:pointer;
    _display:inline;position:relative;}
   .HeadR .all ul{position:absolute;left:0;top:50px;display:none;z-index:4002;}
   .HeadR .all ul li{margin-left:0;background:#2685E3;}
   .HeadR .all ul li:hover{background:#3c9bfa;}
   .HeadR ul li a{color:#FFF;}
   .HeadR ul li:hover{background:#2685E3;}
   .HeadR ul li.current{background:#2685E3;}
 /******banner**********/
 .banner{width:100%;height:400px;position:relative;overflow:hidden;}
 .banner ul{width:400%;height:400px;position:absolute;left:0;top:0;}
 .banner ul li{width:25%;height:400px;background:url(../images/banner3.jpg) center 0 no-repeat;float:left; }
 .banner ol{position:absolute;left:48%;bottom:15px;cursor:pointer;}
 .banner ol li{width:13px;height:13px;background:#FFF;font-size:0;margin-left:20px;float:left;border-radius:50%; box-shadow:1px 0 4px #000;}
 .banner ol li{
-moz-border-radius:50%;-moz-box-shadow:1px 0 4px #000;
-ms-border-rdius:50%;-ms-box-shadow:1px 0 4px #000;
-o-border-radius:50%;-o-box-shadow:1px 0 4px #000;
-webkit-border-radius:50%;-webkit-box-shadow:1px 0 4px #000;
              }  
  
.banner ol li:hover{background:#09F;}
 .banner ol li.current{background:#09F;}
  /******content**********/
  .content{max-width:1200px;height:auto;margin:0 auto;}
  .content .product dl{width:1200px;height:50px;margin-top:15px;}
  .content .product dt{width:61px;height:50px;float:left;font-size:24px;line-height:50px;border-right:1px solid #ccc;font-weight:bold;}
  .content .product dd{width:1020px;height:50px;float:left;line-height:50px;padding-left:12px;font-size:14px;}
  .content .product ul{width:1180px;height:300px;padding:20px 0 0 20px;overflow:hidden;}
  .content .product ul li{width:400px;height:270px;float:left;margin:0 40px 40px 0;border:1px solid #ccc;margin-left:120px;}
  .content .product ul li .ptop{width:400px;height:158px;text-align:center;padding-top:20px;border-bottom:1px #ccc solid;}
  .content .product ul li .pbottom p{width:400px;height:38px;text-align:center;line-height:64px;font-size:14px;}
  .content .product ul li .pbottom p:nth-of-type(1){font-size:20px;font-weight:bold;}
  .content .product ul li .pbottom .dot{width:5px;height:5px;background:#A0A0A0;display:inline-block;border-radius:50%;}
  
  /*li01*/
  .content .product  ul .li01 {width:400px;height:270px;position:relative;cursor:pointer;}
  .content .product  ul .li01 .surface{position:absolute;left:0;top:0;width:400px;height:270px;}
  .content .product  ul .li01 .inner{position:absolute;left:0;top:0;background:url(../images/icon.png) no-repeat;width:400px;height:270px;opacity:0;}
  .content .product  ul .li01 .inner .innerF{height:140px;padding-top:30px;}
  .content .product  ul .li01 .inner .innerF h1{color:#FFF;text-align:center;font-size:28px;}
  .content .product  ul .li01 .inner .innerS{height:100PX;}
  .content ul .li01 .inner .innerS p a{color:#FFF;}
  .content ul .li02 .inner .innerS p a{color:#FFF;}
  .content .product  ul .li01 .inner .innerS p{text-align:center;color:#FFF;height:30px;}
  .content .product ul li .inner .innerS .dot{width:5px;height:5px;background:#FFF;display:inline-block;border-radius:50%;}
  .content .product ul li .inner .innerS .detail{width:178px;height:35px;border:1px solid  #FFF;text-align:center;line-height:35px;display:inline-block;border-radius:10px;}
  .content .product ul li .inner .innerS .detail:hover{background:#010101;}
   /*li02*/
  .content  ul .li02 {width:400px;height:270px;position:relative;cursor:pointer;}
  .content  ul .li02 .surface{position:absolute;left:0;top:0;width:400px;height:270px;}
  .content  ul .li02 .inner{position:absolute;left:0;top:0;background:url(../images/icon.png) no-repeat;width:400px;height:270px;opacity:0;}
  .content  ul .li02 .inner .innerF{height:140px;padding-top:30px;}
  .content  ul .li02 .inner .innerF h1{color:#FFF;text-align:center;}
  .content  ul .li02 .inner .innerS{height:100PX;}
  .content  ul .li02 .inner .innerS p{text-align:center;color:#FFF;height:30px;}
  .content .product ul li .inner .innerS .dot{width:5px;height:5px;background:#FFF;display:inline-block;border-radius:50%;}
  .content .product ul li .inner .innerS .detail{width:178px;height:35px;border:1px solid  #FFF;text-align:center;line-height:35px;display:inline-block;border-radius:10px;margin-top:10px;}
  .content .product ul li .inner .innerS .detail:hover{background:#0493fe;}
	 /******Scheme**********/
  .Scheme {width:1200px;height:auto;margin-top:20px;}
  .Scheme dl{width:1200px;height:50px;}
  .Scheme dt{width:100px;height:50px;float:left;font-size:24px;line-height:50px;text-align:center;font-weight:bold;}
  .Scheme .jiejue{width:1079px;height:50px;line-height:50px;padding-left:12px;float:right;border-left:1px #ccc solid;font-size:14px;}
  .school{width:980px;height:410px;margin:0 auto;padding:10px;}
  .Scheme .school ul{width:990px;height:50px;background:#FFF;}
  .Scheme .school ul li{float:left;height:40px;line-height:40px;font-size:14px;position:relative;margin-left:20px;width:100px;text-align:center;}
  .Scheme .school ul li a{color:#666; text-decoration:none;}
  .Scheme .school ul li a:hover{color:#000; text-decoration:none;}
  .Scheme .school ul li span{width:0;height:0;text-decoration:none;position:absolute;display:block;background:#1FAEFF; top:40px; left:50%;}
  .Scheme .school ul li span.current{width:100%;height:2px;background:##1FAEFF;display:inline-block;position:absolute;left:0;bottom:0;}
  
  .Scheme .school .schoolF{height:161px;}
  .Scheme .school .schoolF dl{width:500px;}
  .Scheme .school .schoolF .introduce{height:149px;float:left;}
  .Scheme .school .schoolF .introduce dt{width:110px;float:left;height:100px;padding-top:34px;}
  .Scheme .school .schoolF .introduce dd{width:379px;float:right;height:110px;border-right:1px solid #ccc;border-bottom:1px solid #ccc;padding-top:50px;}
  .Scheme .school .schoolF .introduce dd h1{height:30px;padding:0;font-weight:normal;font-size:18px;line-height:30px;}
  .Scheme .school  .schoolF .introduce dd p{height:65px;padding:0;font-weight:normal;font-size:13px;line-height:25px;padding:0 5px 0 5px;}
  .Scheme .school .schoolF  .channel{height:150px;margin-top:10px;float:right;border-bottom:1px #ccc solid;}
  .Scheme .school .schoolF .channel dd{width:367px;float:right;height:110px;padding-top:20px;}
  .Scheme .school .schoolF .channel dd h1{height:30px;padding:0;font-weight:normal;font-size:18px;line-height:30px;}
  .Scheme .school .schoolF .channel dd p{height:100px;padding:0;font-weight:normal;font-size:13px;line-height:25px;}
  .Scheme .school .schoolF .channel dt{width:110px;float:left;height:100px;padding-top:34px;}
 
  .Scheme .school .schoolE{height:176px;}
  .Scheme .school .schoolE dl{width:499px;}
  .Scheme .school .schoolE .introduce{height:149px;float:left;border-right:1px #ccc solid;}
  .Scheme .school .schoolE .introduce dt{width:109px;float:left;height:100px;padding-top:34px;}
  .Scheme .school .schoolE .introduce dd{width:368px;float:right;height:110px;padding-top:39px;padding-right:6px;}
  .Scheme .school .schoolE .introduce dd h1{height:30px;padding:0;font-weight:normal;font-size:18px;line-height:30px;}
  .Scheme .school .schoolE .introduce dd p{height:40px;padding:0;font-weight:normal;font-size:13px;line-height:25px;}
  .Scheme .school .channel{height:150px;margin-top:10px;float:right;}
  .Scheme .school .schoolE .channel dd{width:367px;float:right;height:110px;padding-top:39px;}
  .Scheme .school .schoolE .channel dd h1{height:30px;padding:0;font-weight:normal;font-size:18px;line-height:30px;}
  .Scheme .school .schoolE .channel dd p{height:40px;padding:0;font-weight:normal;font-size:13px;line-height:25px;}
  .Scheme .school .schoolE .channel dt{width:110px;float:left;height:100px;padding-top:34px;}
  
	 /******classical**********/

  .classical{width:1200px;height:480px;margin-top:10px;}
  .classical dl{width:1200px;height:50px;}
  .classical dt{width:100px;height:50px;float:left;font-size:24px;line-height:50px;text-align:center;font-weight:bold;}
  .classical .jiejue{width:1079px;height:50px;line-height:50px;padding-left:12px;float:right;border-left:1px #ccc solid;}
  .school{width:1000px;height:410px;margin:0 auto;padding:10px;}
  .classical .school .contain{width:1000px;height:50px;background:#FFF;margin-bottom:10px;}
  .classical .school .contain li{float:left;height:40px;line-height:40px;font-size:14px;position:relative;margin-left:20px;width:100px;text-align:center;}
  .classical .school .contain li a{color:#666; text-decoration:none;}
  .classical .school .contain li a:hover{color:#000; text-decoration:none;}
  .classical .school .contain li span{width:0;height:0;text-decoration:none;position:absolute;display:block;background:#1FAEFF; top:40px; left:50%;}
 .classical .school .contain li span.current{width:100%;height:2px;background:##1FAEFF;display:inline-block;position:absolute;left:0;bottom:0;}
  .cloudSer{width:1000px;height:370px;}
  .cloudSer li{width:200px;height:200px;float:left;margin-left:40px;}
  .cloudSer li .pic{width:125px;height:126px;margin:0 auto;background:url(../images/qinghua2.png) no-repeat;}
  .cloudSer li .picPart{width:125px;height:126px;margin:0 auto;background:url(../images/shida.png) no-repeat;}
  .cloudSer li .picPartO{width:125px;height:126px;margin:0 auto;background:url(../images/zheda.png) no-repeat;}
  .cloudSer li .picPartT{width:125px;height:126px;margin:0 auto;background:url(../images/caimao.png) no-repeat;}
  .cloudSer li .name{width:200px;height:40px;text-align:center;font-size:18px;font-weight:bold;line-height:51px;}
  .cloudSer li .jieShao{text-align:center;width:200px;height:40px;}

	 /******footer**********/
 .footer{width:100%;height:200px;background:#E8E8E8;padding-top:30px;color:#949494;}	 
 .footer .footerContent {max-width:1200px;height:200px;margin:0 auto;min-width:1000px;}
 .footer .footL{width:600px;height:200px;float:left;border-right:1px dashed #ccc;}
 .footer .footL ul li{width:180px;height:200px;float:left;}
 .footer .footL ul ul li{height:36px;margin-left:0;text-align:left;line-height:24px;}
 .footer .footL ul ul li a:link, .footer .footL ul ul li a:visited{text-decoration:none;color:#949494;}
 .footer .footL ul ul li a:hover{color:#000;text-decoration:underline;}
 .footer .footR{width:190px;height:200px;float:left;}
 .footer .footR div{width:190px;height:61px;margin-bottom:20px;padding-left:14px;}	 
 .footer .footR div dt{width:66px;height:60px;float:left;}
 .footer .footR div dd{width:120px;height:41px;float:right;padding-top:19px;}
 .footer .footR .renzheng{width:190px;height:130px;}
 .footer .footR .renzheng dt{height:119px;width:76px;float:left;}
 .footer .footR .renzheng dd{height:110px;width:93px;line-height:24px;float:left;padding-top:0;}
 .footer .footM{width:210px;height:200px;float:left;border-right:1px dashed #ccc;float:left;text-align:center;}
 .footer .footM	p{height:30px;}
 .footerB{width:100%;height:50px;background:#2886dd;}	 
 .footerB .footerC{max-width:1200px;min-width:1000px;height:50px;margin:0 auto;line-height:50px;color:#FFF;text-align:center;}	 
	 
 /******人才招聘页面**********/	
.FocusALL{width:100%;height:450px;} 
.Focus{background:url(../images/jiaodiantu.jpg) center top no-repeat;margin-left:auto;margin-right:auto;height:400px;width:100%;}
.Focus img{width:100%;}	
.FocusH {width:100%;height:50px;margin-bottom:20px;}
.FocusH .tit{max-width:1200px;min-width:1000px;margin-left:auto;margin-right:auto;height:50px;margin-top:15px;border-bottom:1px dashed #CCC;}	 
.FocusH .tit span{width:100px;height:50px;display:inline-block;text-align:center;line-height:50px;font-size:20px;}
 /******content**********/
.contentAll{width:100%;height:auto;z-index:100;} 
.cont{max-width:1200px;min-width:1000px;margin-left:auto;margin-right:auto;height:700px;overflow:hidden;}	
.contL{width:220px;height:auto;background:#fafafa;float:left;padding:10px;font-size:14px}
.contL .Hd{height:36px;line-height:36px;border-bottom:1px #CCCCCC solid;font-size:18px;}
.contL ul li{height:36px;line-height:36px;font-size:18px;}
.contL .Sd{height:36px;line-height:36px;border-bottom:1px #CCCCCC solid;font-size:18px;}
.contL ul li{width:220px;height:50px;line-height:50px;text-align:center;color:#8c8c8c;font-size:14px;}
.contL ul li a:link,.contL ul li a:visited{text-decoration:none;color:#8c8c8c;}
.contL ul li a:hover{text-decoration:none;color:#FFF;background:#09F;width:220px;height:50px;display:inline-block;}
.contL ul li a.current{color:#FFF;background:#09F;width:220px;height:50px;display:inline-block;}
.contL .search{width:220px;height:80px;padding-top:20px;}
.contL .search input{width:180px;height:30px;padding-left:26px;border:1px solid #ccc;}
.contL .search .txt{background:url(../images/search.png) 6px center no-repeat;}
.contR{width:900px;height:auto;float:right;font-size:14px;}
.contR .posive{height:30px;line-height:30px;color:#434A54;}
.contR .posive strong{font-weight:bold;}
.contR .posive span{width:148px;text-align:center;display:inline-block;height:14px;color:#333;cursor:pointer;}
.contR .posive span:hover{color:#09F;}
.contR .posive span.current{color:#09F;}
.contR ul li{width:800px;height:auto;margin:0 auto;margin-top:23px;}
.contR ul li .name{width:410px;height:30px;}
.contR ul li .name:nth-of-type(2){width:440px;height:30px;}
.contR ul li .name .nameL{float:left;} 
.contR ul li .name span a{font-weight:bold;}
.contR ul li .name .nameR{float:right;}
.contR .maincont{width:800px;height:416px;}
.contR .maincont .partO{width:800px;line-height:30px;margin-top:20px;} 
.contR .maincont .partO span{font-weight:bold;}
.contR ul{width:800px;height:auto;} 
.contR  ul li.current{display:block;}
.contR  ul li {display:none;}
 
 /******关于我们**********/
.AllWrap{width:100%;height:auto;}	
.contentAlll{width:100%;height:1524px;background:#f5f5f5;} 
.introduct{max-width:1200px;min-width:1000px;margin-left:auto;margin-right:auto;height:360px;background:#FFF;padding-top:10px;margin-bottom:20px;}
.FocusC{max-width:1200px;min-width:1000px;margin-left:auto;margin-right:auto;height:400px;background:url(../images/women.png) center top;}	
.power{width:650px;height:auto;MARGIN:0 auto;font-size:14px}
.power h2{font-size:28px;font-weight:normal;color:#333;margin-bottom:10px;}
.power p{text-indent:2em;line-height:24px;margin-bottom:10px;} 
.reset{max-width:1200px;min-width:1000px;margin-left:auto;margin-right:auto;height:auto;margin-bottom:20px;}
.origine{max-width:1200px;min-width:1000px;margin-left:auto;margin-right:auto;height:150px;margin-bottom:20px;background:#FFF;padding-top:10px;}
 /******联系我们**********/	
 .adress{max-width:1014px;min-width:1000px;margin-left:auto;margin-right:auto;height:240px;background:#FBFBFB;padding-top:10px;margin-bottom:20px;padding-left:186px;
 }
 .map{max-width:1200px;min-width:1000px;margin-left:auto;margin-right:auto;height:auto;padding-top:10px;margin-bottom:20px;}
 .adress p{font-size:14px;line-height:30px;}
 
/******售后服务**********/
.banner2{width:100%;margin:0 auto;background:url(../images/banner6.png) center top;height:400px;}
.summary{width:100%;height:350px;background:#f6f8f9;} 
.summary .SummaryAll{max-width:1200px;min-width:1000px;margin:0 auto;padding-top:80px;}
.summary .SummaryAll h1{font-weight:normal;width:770px;height:50px;padding-left:215px;background:url(../images/span.png) 201px 7px no-repeat;}
.summary .SummaryAll p{font-size:14px;width:802px;margin:20px auto;line-height:28px;}
.summaryy{width:100%;height:350px;background:#FFF;} 
.summaryy .SummaryyAll{max-width:1200px;min-width:1000px;margin:0 auto;padding-top:80px;}
.summaryy .SummaryyAll h1{font-weight:normal;width:770px;height:50px;padding-left:215px;background:url(../images/span.png) 201px 7px no-repeat;}
.summaryy .SummaryyAll p{font-size:14px;width:808px;margin:0 auto;line-height:28px;}
.summaryyy{width:100%;height:350px;background:#f6f8f9;} 
.summaryyy .SummaryyyAll{max-width:1200px;min-width:1000px;margin:0 auto;padding-top:80px;}
.summaryyy .SummaryyyAll p{width:401px;}
.summaryyy .SummaryyyAll h1{font-weight:normal;width:770px;height:50px;padding-left:215px;background:url(../images/span.png) 201px 7px no-repeat;}
.summaryyy .SummaryyyAll p{font-size:14px;width:808px;margin:0 auto;line-height:28px;width:808px;}
.Timer{width:100%;height:400px;background:#FFF;} 
.Timer .TimerAll{max-width:1200px;min-width:1000px;margin:0 auto;padding-top:60px;}
.Timer .TimerAll h1{font-weight:normal;width:770px;height:50px;padding-left:215px;background:url(../images/span.png) 201px 7px no-repeat;}
.Timer .TimerAll p{font-size:14px;width:802px;margin:0px auto;line-height:24px;}
 
 /******解决方案**********/
 .bestmain{background:url(../images/banner6jpg.jpg) center top no-repeat;height:400px;margin:0 auto;}
 .contentAll .gaoxiao{width:100%;height:500px;background:#f8f8f8;}
 .contentAll .gaoxiao .gaomain{width:1200px;height:300px;margin:0 auto;padding:50px 0 50px 0;}
 .contentAll .gaoxiao .gaomain h1{font-size:24px;color:#333;font-weight:normal;height:50px;}
 .contentAll .gaoxiao .gaomain dl{width:1200px;height:400px;}
 .contentAll .gaoxiao .gaomain dl dd{width:520px;float:right;height:180px;text-indent:2em;line-height:24px;padding-top:70px;}
 .contentAll .gaoxiao .gaomain dl dt{width:600px;float:left;height:220px;padding-top:30px;}
 .contentAll .problem{width:100%;height:500px;overflow:hidden;}
 .contentAll .problem .probleMain{width:1200px;height:300px;margin:0 auto;padding:50px 0 50px 0;}
 .contentAll .problem .probleMain dt{width:600px;float:left;height:250px;line-height:30px;padding-top:10px;}
 .contentAll .problem .probleMain dl{overflow:hidden;}
 .contentAll .problem .probleMain dd{width:520px;float:left;height:180px;text-indent:2em;line-height:24px;}
 .contentAll .problem .probleMain h1{font-size:24px;color:#333;font-weight:normal;height:50px;}
 
 .contentAll .advantage{width:100%;height:600px;overflow:hidden;background:#f8f8f8;}
 .contentAll .advantage .advantageMain{width:1200px;height:450px;margin:0 auto;padding:50px 0 50px 0;}
 .contentAll .advantage .advantageMain h1{font-size:24px;color:#333;font-weight:normal;height:50px;}
 .contentAll .advantage .advantageMain ul{width:1200px;height:200px;margin:0 auto;border-bottom:1px #CCCCCC solid;}
 .contentAll .advantage .advantageMain ul li{width:399px;height:200px;float:left;border-right:1px solid #ccc;}
 .contentAll .advantage .advantageMain ul li p{text-align:center;}
 .contentAll .advantage .advantageMain ul li p:nth-of-type(1){height:70px;padding-top:14px;}
 .contentAll .advantage .advantageMain ul li p:nth-of-type(2){height:40px;font-size:20px;line-height:50px;}
 .contentAll .advantage .advantageMain ul li p:nth-of-type(3){height:50px;padding:7px 30px 30px 7px;text-indent:2em;text-align:center;}
 .query{width:100%;height:600px;overflow:hidden;background:#f8f8f8;}
 .queryMain{width:1200px;height:450px;margin:0 auto;padding:50px 0 50px 0;}
 .query .queryMain h1{font-size:24px;color:#333;font-weight:normal;height:50px;}
 .now{width:1200px;height:500px;background:url(../images/soso.png) no-repeat;position:relative;}
 .now .caozuo{position:absolute;left:50%;top:50%;margin-left:-560px;margin-top:-120px;}
 .now .multimedia{position:absolute;left:50%;top:50%;margin-left:216px;margin-top:-100px;}
 .now .software{position:absolute;left:50%;top:50%;margin-left:216px;margin-top:76px;}
 .now .breakdown{position:absolute;left:50%;top:50%;margin-left:-560px;margin-top:113px;}
 .education{width:100%;height:602px;overflow:hidden;border-bottom:2px #ccc solid;}
 .educationMain{width:1200px;height:450px;margin:0 auto;padding:50px 0 50px 0;}
 .educationMain h1{font-size:24px;color:#333;font-weight:normal;height:50px;}
 .contentAll .educationMain dd{width:500px;float:right;height:350px;line-height:30px;padding-top:10px;}
 .contentAll .educationMain dt{width:650px;float:left;height:280px;text-indent:2em;line-height:30px;padding-top:93px;}
 .income{width:100%;height:800px;overflow:hidden;}
 .income .incomeMain{width:1200px;height:700px;margin:0 auto;padding:50px 0 50px 0;}
 .income .incomeMain h1{font-size:24px;color:#333;font-weight:normal;height:50px;}
 .income .incomeMain ul{width:1200px;height:auto;margin-top:40px;}
 .income .incomeMain ul li{float:left;width:600px; height:180px;text-align:center;margin:0 auto;}
 .income .incomeMain ul li p:nth-of-type(1){height:120px;}
 .income .incomeMain ul li p:nth-of-type(2){height:50px;line-height:50px;font-size:14px;}
 .deploy{width:100%;height:600px;overflow:hidden;border:2px solid #ccc;}
 .deploy .deployMain{width:1200px;height:450px;margin:0 auto;padding:50px 0 50px 0;}
 .deploy .deployMain h1{font-size:24px;color:#333;font-weight:normal;height:50px;}
 .deploy .deployMain ul{height:360px;width:900px;margin:30px auto 30px auto;}
 .deploy .deployMain ul li{width:260px;height:360px;background:#f9f9f9;float:left;padding-left:20px;}
 .deploy .deployMain ul li h3{font-weight:normal;height:50px;line-height:50px;text-align:center;font-size:20px;}
 .deploy .deployMain ul li p:nth-of-type(1){text-align:center;height:180px;padding-top:10px;}
 .deploy .deployMain ul li p:nth-of-type(2){text-align:center;height:50px;line-height:50px;}
 
  /******产品介绍**********/
  .chanpin{width:100%;color:#000;background:url(../images/tu1.jpg) center top;min-height:678px;background-color:#00cfff;position:relative;}
  .chanpinMain{width:1000px;min-height:689px;margin:0 auto;text-align:center;padding-top:66px;}
  .chanpinMain h3{font-size:48px;color:#FFF;font-weight:normal;}
  .chanpinMain .p1{font-size:26px;color:#0d88b0;margin:28px 0 20px;}
  .chanpinMain .p2{font-size:14px;margin:0 auto;color:#0d88b0;}
  .talk{width:100%;min-height:678px;background:url(../images/t2.jpg) no-repeat center top;position:relative;}
  .dingwei{width:100%;color:#000;min-height:678px;background:#f6f6f7;}
  .dingweiMain{width:1000px;min-height:689px;margin:0 auto;text-align:center;padding-top:80px;}
  .dingweiMain h3{font-size:48px;color:000;font-weight:normal;}
  .dingweiMain p{font-size:14px;color:#000;margin:28px 0 20px;}
  .dingweiMain p:nth-of-type(2){margin-top:80px;}
  .hot{width:100%;color:#000;min-height:678px;background-color:#FFF;background:url(../images/7y.png) no-repeat center top;position:relative;}
  .hotMain{width:1000px;min-height:689px;margin:0 auto;text-align:center;}
  .hot h3{font-size:48px;color:000;font-weight:normal;}
  .hot p{font-size:14px;color:#000;margin:28px 0 20px;position:relative;}
  .profession{width:100%;background:#FFF;min-height:678px;position:relative;}
  .profession .p1{position:absolute;left:50%;top:50%;margin-left:-90px;margin-top:-250px;}
  .profession h3{position:absolute;left:50%;top:50%;font-size:48px;color:#000;font-weight:normal;margin-left:-530px;margin-top:10px;}
  .profession .p2{font-size:16px;width:400px;position:absolute;left:50%;top:50%;margin-left:-530px;margin-top:78px;line-height:24px;}
  .place{width:100%;background:#f6f8f7;min-height:678px;position:relative;}
  .place .p1{position:absolute;left:50%;top:50%;margin-left:-450px;margin-top:-250px;}
  .place  h3{position:absolute;left:50%;top:50%;font-size:48px;color:#000;font-weight:normal;margin-left:153px;margin-top:10px;}
  .place .p2{font-size:16px;width:400px;position:absolute;left:50%;top:50%;margin-left:153px;margin-top:80px;line-height:24px;}
  .design{width:100%;color:#000;min-height:678px;background-color:#FFF;position:relative;overflow:hidden;}
  .design h3{position:absolute;left:50%;top:50%;font-size:48px;color:#000;font-weight:normal;margin-top:-290px;margin-left:-130px;}
  .design .p1{position:absolute;left:50%;top:50%;margin-left:-290px;margin-top:-210px;font-size:14px;color:#0d88b0;}
  .design .p2{position:absolute;left:50%;top:50%;margin-left:-275px;margin-top:-60px;}
  .standard{width:100%;color:#000;min-height:678px;background-color:#FFF;position:relative;overflow:hidden;}
  .standardNav{width:100%;height:100px;background:#127cd2;}
  .standard .p1{margin:0 auto;width:1000px;}
  .rocket{background:url(../images/top2.png) no-repeat;width:99px;height:50px;position:fixed;right:20px;bottom:50px;z-index:101;cursor:pointer;display:none;padding-top:100px;}
  .rocket:hover{background:url(../images/Top.png) no-repeat;width:99px;height:50px;}
    /******登录界面**********/
   .bg{width:100%;height:871px;background:#1ca4d7;background:url(../images/bg5.jpg) no-repeat center top;position:relative;}
   .Bhead{width:1200px;height:100px;margin:0 auto;padding-top:70px;}
   .headRight{float:left;}
   .headLeft{float:right;}
   .headLeft a{color:#FFF;text-decoration:underline;}
   .headLeft a:hover{color:#000;text-decoration:underline;}
   .box{width:437px;height:354px;position:absolute;left:50%;top:50%;margin-left:142px;margin-top:-220px;text-align:center;background:url(../images/logoin.png);font-size:14px;}
   .box1{position:absolute;left:50%;top:50%;margin-left:-900px;margin-top:-220px;text-align:center;}

   .box h2{width:390px;height:50px;font-weight:normal;font-size:16px;line-height:50px;text-align:left;padding-left:10px;color:#FFF;}
   .box2{width:280px;height:209px;position:absolute;top:50%;left:50%;margin-left:-140px;margin-top:-90px;color:#bcf2fe;}
   .box2 input{padding:3px 4px;width:200px;height:25px;margin-bottom:10px;border:1px #CCCCCC solid;background:#B5E9FC;margin-top:10px;}
   .box2 .yanzheng{width:100px;}
   .box2 .p1{float:right;width:89px;height:20px;padding-top:10px;}
   .box2 .p2{background:url(../images/denglu1.png) no-repeat;width:156px;height:43px;margin-top:31px;margin-left:80px;cursor:pointer;}
   .box2 .p2:hover{background:url(../images/denglu.png) no-repeat;}
   .bg3{width:100%;height:100px;position:relative;text-align:center;line-height:100px;color:#000;}
   /******钛金服务器**********/
  .taiJin{width:100%;color:#000;min-height:678px;background-color:#00cfff;position:relative;}
  .taiJinMain{width:1000px;min-height:678px;margin:0 auto;text-align:center;padding-top:66px;}
  .taiJinMain p:nth-of-type(1){width:1000px;position:absolute;top:50%;left:50%;margin-left:-441px;margin-top:-319px;font-size:14px;color:#0d88b0;text-align:left;}
  .taiJinMain p:nth-of-type(2){position:absolute;top:50%;left:50%;margin-left:260px;margin-top:180px;font-size:14px;color:#0d88b0;text-align:left;color:#F60;font-size:36px;font-weight:bold;}
  .deplay{width:100%;min-height:678px;position:relative;}
  .deplayMain{width:1000px;min-height:678px;margin:0 auto;text-align:center;padding-top:66px;} 
  .deplayMain p{position:absolute;top:50%;left:50%;margin-left:-455px;margin-top:-250px;}
  .door{width:100%;min-height:678px;position:relative;background:url(../images/LearningBackground.jpg) repeat;}
  .doorMain{width:900px;min-height:678px;margin:0 auto;text-align:center;padding-top:66px;} 
  .doorMain p{ text-align:center;}
  .doorMain h2{color:#000;font-size:42px;font-weight:normal;margin-left:26px;}
  .some{width:100%;min-height:678px;position:relative;background:url(../images/wenli2.png) repeat;}
  .someMain{width:900px;min-height:678px;margin:0 auto;text-align:center;padding-top:66px;} 
  .someMain h2{color:#000;font-size:42px;font-weight:normal;text-align:left;}
  .town{width:100%;color:#000;min-height:678px;background:#FFF;position:relative;}
  .townMain{width:900px;min-height:678px;margin:0 auto;text-align:center;padding-top:66px;}
  .townMain h2{font-weight:normal;color:#000;font-size:42px;position:absolute;top:50%;left:50%;margin-left:-453px;margin-top:-182px;}
  .where{width:100%;color:#000;min-height:678px;background:url(../images/wenli2.jpg) repeat;position:relative;}
  .whereMain{width:900px;min-height:678px;margin:0 auto;text-align:center;padding-top:66px;} 
  .street{width:100%;height:100px;background:#127cd2;}
   
  /******联系**********/
  .lianxi{background:url(../images/lainxi.png) no-repeat;width:180px;height:207px;position:fixed;right:20px;top:50%;}
  /******NEWS新闻页面**********/ 
  .boxes{width:1200px;height:400px;margin:0 auto;overflow:hidden;position:relative;margin-bottom:40px;} 
  .boxes ul{position:relative;z-index:1;}
  .boxes ul li{position:absolute;left:0;top:0;}
  .boxes ul li.current{z-index:11;}
  .boxes ol{bottom:20px;left:50%;z-index:20;position:absolute;}
  .boxes ol li{width:15px;height:15px;border:1px solid #FFF;float:left;margin-right:10px;text-align:center;line-height:15px;cursor:pointer; color:#FFF;}
  .boxes ol li.current{background:#DDD;color:#737373;}
  /******主要内容区**********/ 
  .attention{width:1200px;height:50px;overflow:hidden;margin:0 auto;background:#f6f6f6;margin-bottom:40px;}
  .attention .attentionL{width:350px;height:50px;float:left;font-size:14px;color:#000;padding-left:50px;}
  .attention .attentionL .NE{background:url(../images/134.png)left center no-repeat; width:16px;height:16px;padding-left:20px;line-height:50px;}
  .attention .attentionR{width:400px;height:28px;float:right;padding-top:12px;padding-left:300px;}
  .clearfix{width:1200px;margin:0 auto;height:auto;overflow:hidden;}
  .clearfix a{color:#003;}
  .aside{color:#737373;border-top:3px solid #067EFC;width:76px;text-align: center;padding-top: 13px;float:left;}
  .aside .day{font-size:48px;line-height:42px;}
  .aside .month{font-size:16px;}
  .dynamic-list{padding:0 25px 0 180px;overflow:hidden;}
  .dynamic-list h2{font-size:24px;color:#2E2E2E;font-weight:100;height:37px;}
  .dynamic-list .data{color:#B3B3B3;font-size:12px;margin-bottom:30px;text-align:left;}
  .dation{font-size:14px;color:#737373;text-align:left;line-height:24px;margin-bottom:40px;}
  section{border-bottom:1px dashed #999999;margin-bottom:40px;}
  .pic{margin-bottom:40px;}