@charset "utf-8";
/* CSS Document */
/********************全局样式的控制************************/
body{margin:0;padding:0;list-style:none;border:0;font-family:"微软雅黑";font-size:14px;}
body{padding-top:50px;line-height: 1.428571429;}
/********************公共样式的控制************************/
a:hover,a:focus{color: #2a6496;  text-decoration: underline;}
ul li,ul{list-style:none;}
outline{border:none;}
/********************第一部分NAV的编辑************************/
.logo{width:120px;}
.biaoti h2{padding-top:5%;font-size:30px;text-align:center;font-weight:bold;}
.biaoti h4{font-size:14px;text-align:center;}
.youshi{margin-top:3%;padding-bottom:10%;}
.back-primary{background:#0182C4;color:#FFF;width:100%;}
footer{display:block;}
.carousel img{width:100%;max-width:100%;display:block;}
hr.divider{margin:20px 0 20px 0;}
.feature{padding:30px 0;}
.feature-heading{font-size:30px;color:#2a6496;margin-top:40px;}
.feature-heading .text-muted{font-size:14px;color:#999;}
footer{display:block;}
.foot-primary{width:100%;background-color:rgb(1, 109, 163);display:block;}
.foot-primary a{color:rgb(149, 216, 242);}
/* 解决方案*/
.product{width:100%;background:#F9F9F9;box-sizing:border-box;padding-bottom:40px;}
.product .sloute{line-height:24px;padding-top:50px;text-indent:2em;}
.trouble{width:100%;background:#FFF;box-sizing:border-box;padding-bottom:40px;}
.production{width:100%;background:#F9F9F9;box-sizing:border-box;padding-bottom:40px;}
.trouation{line-height:24px;padding-top:50px;}
.juli{margin:0 auto;}
.trouble .nail{margin-top:30px;}